@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.nav-branding {
  position: relative;
  height: 90px;
}

.nav-branding img {
  width: 150px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10rem;
}

.nav-menu {
  display: flex;
  gap: 20px;
  align-self: center;
  margin: 20px 80px 9px 10px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-link {
  margin: 10px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.movies {
  text-decoration: underline;
}

.likes {
  display: flex;
  align-items: center;
}

.shows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.show {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.color-liked {
  color: #f00;
}

.comments-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
}

.comments-btn:hover {
  background-color: #f00;
  color: #fff;
}

footer {
  position: relative;
  width: 100%;
  top: 50px;
  margin-bottom: 2rem;
  border: 3px solid #fff;
}

.footer-content {
  font-weight: bold;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #000;
  overflow: auto;
  visibility: hidden;
}

.modal-box {
  background-color: #f4f4f4;
  margin: 2% auto;
  padding: 10px;
  width: 60%;
  border-radius: 20px;
}

.modal-close-btn {
  float: right;
  font-size: 20px;
  color: #1a1a1a;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 50px;
}

.modal-close-btn:hover {
  color: #1a1a1a;
  font-size: 21px;
  transform: scale(1.3);
}

.add-score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.3rem;
  outline: none;
  border: 1px solid #333;
  border-radius: 5px;
}

.form-btn {
  width: 6rem;
  align-self: flex-end;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #222;
  box-shadow: 10px 8px 15px rgba(51, 51, 51, 0.139);
  transform: scale(1.1);
  transition: 0.4s;
}

.form-input-one {
  height: 4rem;
}

.remove {
  display: none;
}

.modal-img {
  height: 40rem;
}
