@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-start {
  justify-content: flex-start;
}

body {
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.nav-branding {
  position: relative;
  height: 90px;
}

.nav-branding img {
  width: 150px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10rem;
}

.nav-menu {
  display: flex;
  gap: 20px;
  align-self: center;
  margin: 20px 80px 9px 10px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-link {
  margin: 10px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.movies {
  text-decoration: underline;
}

.likes {
  display: flex;
  align-items: center;
}

.shows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.show {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.color-liked {
  color: #f00;
}

.comments-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
}

.comments-btn:hover {
  background-color: #f00;
  color: #fff;
}

footer {
  position: relative;
  width: 100%;
  top: 50px;
  margin-bottom: 2rem;
  border: 3px solid black;
}

.footer-content {
  font-weight: bold;
}
